@import "import/variables";
@import "grid/bootstrap";
@import "grid/bootstrap-theme";
@import "owl.carousel";
@import "owl.theme.default";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  min-width: 320px;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 5px 0;
}

a {
  transition: .3s ease-out;
  text-decoration: none;
  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
    text-decoration: none;
    outline: none;
  }
}
button {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
img {
  max-width: 100%;
  margin: 0;
}
ul {
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
p {
  margin: 5px 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: $width;
}

header {
  background: rgba(0,0,0,.6);
  padding: 10px 0;
  position: fixed;
  z-index: 15;
  width: 100%;
  .open--menu {
    display: none;
    color: #ffaf00;
    font-size: 36px;
    margin-left: 15px;
  }
  .mobile--search {
    position: relative;
    display: none;
    float: right;
    margin-right: 10px;
    #mobile__search--input {
      padding: 10px;
      border: 0;
      border-radius: 2px;
      background-color: #ddd;
      transition: background-color .45s ease,color 45ms ease,opacity 45ms ease;
    }
    #mobile__search--submit {
      background-color: #477dca;
      color: #fff;
      padding: 10px 20px;
      border: 0;
      display: inline-block;
    }
  }
  .header--logo {
    display: block;
    img {
      max-width: 100%;
      width: 50%;
    }
  }
  .header--nav {
  	.headnav {
  		display: -webkit-flex;
  		display: -moz-flex;
  		display: -ms-flex;
  		display: -o-flex;
  		display: flex;
  		justify-content:flex-end;
  		align-items:center;
  		.headnav--item {
  			padding: 7px 15px;
  			list-style-type: none;
  			position: relative;
  			transition: .3s ease-out;
        &:after {
          display: block;
          content:'';
          position: absolute;
          right: 0;
          width: 1px;
          height: 80%;
          top: 15%;
          background-color: #fff;
        }
        &:last-child {
	         &:after {
	          display: none;
	         }
        }
  			.submenu {
  				display: none;
  				position: absolute;
  				left: 0;
  				padding-top: 10px;
  				z-index: 1;
  				.submenu--item {
  					padding: 5px;
            border-bottom: 1px solid #fff;
  				}
  			}
  			&:hover {
  				outline: 1px solid #fff;
	          &:after {
	            display: none;
	          }
  				.submenu {
  				display: block;
  				width: 100%;
    			text-align: center;
  			}
  			}
  		}
  	}
  }
}

.slider_wraper {
	height: 100vh;
  position: relative;
	.owl-carousel {
		height: 100%;
		div {
			height: 100%;
		}
			.slider__text--wrap {
			height: auto;
			width: 50%;
	    	padding: 15px;
			position: absolute;
			bottom:35%;
			left: 20%;
			color:#fff;
			background: rgba(0, 0, 0, 0.6);
			h4 {
				font-size: 22px;
				text-indent: 10px;
			}
		}
	}
	.controls--block {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1;
		padding: 15px 0;
		background: rgba(0,0,0,.6);
		.first__controll--row {
			padding-top: 5px;
			.login--button {
				  padding: 10px;
			    display: block;
			    max-width: 90px;
			    background-color: #477dca;
			    color:#fff;
			    text-align: center;
			    border-radius: 2px;
          height: 40px;
			    &:hover {
    				background-color: darken(#477dca, 20%);
    			}
			}
		}
		.search__form--wrap {
			padding-top: 5px;
			#search--input {
				padding: 10px 20px;
				border: 0;
				border-radius: 2px;
				transition: .3s ease-out;
				width: 55%;
				background-color: #dddddd;
				&:focus {
					background: transparent;
					outline:1px solid #fff;
					color:#fff;
				}
			}
			#search--submit {
				padding: 10px 20px;
    			border: 0;
    			display: inline-block;
    			transition: .3s ease-out;
    			background-color: #477dca;
    			color:#fff;
    			&:hover {
    				background-color: darken(#477dca, 20%);
    			}
			}
		}
		.third__controll--row {
			text-align: right;
			.add_lot {
				display: block;
				height: 40px;
				max-width: 150px;
				text-align: center;
				padding: 10px 15px;
			    background: #0c9e0c;
			    color: #fff;
			    border-radius: 2px;
			    float: right;
			    clear: both;
			    &:hover {
			    	background: lighten(#0c9e0c, 10%);
			    }
			}
		}
	}
}

.block--content {
  padding: 50px 0;
  background-image: url(../img/bg_pattern.jpg);
  .content--title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
  }
  .table--sort {
    text-align: right;
    padding: 15px 0;
    .sort--text {
      font-size: 14px;
      margin-right: 5px;
    }
    #sort--list {
      padding: 2px;
      cursor: pointer;
      background: transparent;
      &:focus {
        outline: 0 0 1px 1px #333;
      }
    }
  }
  .items__list--wrap {
    margin: 0;
    .category__list--item {
      background-color: transparent;
      text-align: center;
      border-bottom:1px solid #fff;
      transition: .3s ease-out;
      position: relative;
      padding: 10px;
      color:#333;
      cursor: pointer;
      display: inline-block;
      width: calc(20% -3px);
      border:1px solid #333;
      font-weight: bold;
      &:hover {
        background-color: #333;
        color:#fff;
      }
    }
    .list__item--active {
      background-color: #333;
      color:#fff;
    }
  }
  .items__grid--wrap {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 0 1px 1px #333;
      padding-top: 15px;
      position: relative;
      .col-md-4 {
        cursor: pointer;
      }
    .grid__item--wrap {
      margin-bottom: 15px;
      .item__thumb--link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        .item--thumb {
          width: 100%;
          max-width: 345px;
        }
        &:before {
          font-family: fontAwesome;
          display: flex;
          content:'\f09d';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.7);
          justify-content: center;
          align-items:center;
          font-size: 36px;
          color:#fff;
          opacity: 0;
          transition: .3s all ease-out;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      
      .item__info--wrap {
        padding: 5px 10px;
        background-color: #333;
        .date {
          color:#a9a8a8;
        }
        .item--title {
          display: block;
          font-size: 18px;
          margin-bottom: 15px;
          color:#fff;
          transition: .3s all ease-out;
          &:hover {
            color:#477dca;
          }
        }
        .price--forbid {
          color:#477dca;
          text-align: right;
        }
      }
    }
  }

  .items__grid--modal {
        .item__open--container {
      position:  fixed;
      width:  100%;
      height:  100%;
      top: 0;
      left:  0;
      background: rgba(0, 0, 0, 0.6);
      padding-top: 7%;
      z-index: 7;
      display: none;
      .item__open--wrap {
        max-width: 620px;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
        position: relative;
        margin: 0 auto;
        .close__opened--item {
          width:  25px;
          height:  25px;
          text-align:  center;
          line-height:  1.5;
          background:  #333;
          border-radius:  50%;
          display:  block;
          position:  absolute;
          right: -10px;
          top: -10px;
        }
        .left--side {
          flex-basis:50%;
          padding-right: 15px;
          .thumb--show {
            img {
              width: 100%;
              margin-bottom: 15px;
              border-radius:2px;
            }
          }
          .infio--open {
            .item__open--title {
              font-size: 18px;
              font-weight: bold;
            }
            .item__open--price {
              font-size: 18px;
              font-weight: bold;
              color:#477dca;
            }
          }
        }
        .right--side {
          flex-basis:50%;
          .show--descr {
            width: 25px;
            height: 25px;
            background:#477dca;
            border-radius:50%;
            text-align: center;
            line-height: 1.6;
            position: absolute;
            top: -10px;
            left: -10px;
            display: none;
          }
          .item--description {
              font-size: 15px;
              line-height: 1.3;
              text-indent: 10px;
          }
          .item--purchase {
            float: right;
            margin: 10px 0;
            padding: 10px 30px;
            background: #058205;
            border-radius:2px;
            border: 0;
            color:#fff;
            &:hover {
              background: darken(#058205, 5%);
            }
          }
        }
      }
    }
  }
}

.gallery--block {
  padding: 50px 0;
  background-color: #333;
  position: relative;
  .gallery--title {
    text-align: center;
    font-size: 24px;
    color:#fff;
    margin-bottom: 25px;
  }
  .gallery__items--wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .gallery--item {
      max-height: 300px;
      max-width: 300px;
      margin: 0 5px 15px;
      overflow: hidden;
      transition:.3s all ease-out;
      .single__galley--item {
        max-width: 300px;
        width: 100%;
        cursor: pointer;
      }
      &:hover {
          box-shadow: 0 0 2px 2px #fff;
        }
    }
  }
  .pagination {
    padding-top: 30px;
      a {
        padding: 5px 10px;
        color:#a9a8a8;
        margin: 0 1px;
        &:hover {
          box-shadow: 0 0 1px 0 #fff;
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
      .current {
        box-shadow: 0 0 1px 0 #a9a8a8;
        color:#477dca;
        padding: 5px 10px;
      }
    }
}

.news_block {
  padding: 25px 0 50px 0;
  position: relative;
  background: #fff url(../img/form_bg.png) repeat;
  z-index: 2;
  &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background: url(../img/contact-pattern.png) repeat-x;
        z-index: 5;
      }
    .news_title {
      font-size: 20px;
      margin: 20px 0;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      &:after {
        display: block;
        content:'';
        height: 2px;
        background-color: #000;
        width: 100%;
      }
  }
  .col-md-4 {
    &:hover {
      .news__item--wrap {
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        .post__thumb--wrap {
          img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          }
        }
        .post__descr--wrap {
          transform: translateY(-40px);
        }
      }
    }
  }
  .news__item--wrap {
    position: relative;
    overflow: hidden;
    display: block;
    .post__thumb--wrap {
      img {
        transition:.3s all ease-out;
      }
    }
    .post__descr--wrap {
      position: absolute;
      bottom:-40px;
      width: 100%;
      padding: 10px;
        background: rgba(255, 255, 255, 0.7);
        transition:.3s all ease-out;
        a {
          color:#000;
          &:hover {
            text-decoration: none;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.3;
        }
        .to_article {
          padding: 5px 10px;
          background: transparent;
          border: 1px solid #000;
          float: right;
          font-size: 15px;
        }
    }
  }
}

.contacts--block {
  position: relative;
  display: flex;
  justify-content: center;
  &:before {
    display: block;
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: .3s all ease-out;
  }
  &:hover {
    &:before {
      opacity: 0;
      z-index: 0;
    }
  }
  #map {
    width:100%;
    height:400px;
  }
  .contact--card {
          width: 100%;
          max-width: 400px;
          background-color: #000;
          color: #fff;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          position: absolute;
          top:0;
          z-index:0;
          min-height:160px;
          background: radial-gradient(circle at 90px 85px, rgba(0, 0, 0, 0) 50px, #000000 50px);
          transition:.3s all ease-out;
          z-index: 1;
          a {
            color:#fff;
          }
          .card-left {
            width: 90%;
          }
          .card-right {
            padding-top: 20px;
            width: 100%;
            p {
              font-size: 14px;
              font-style: italic;
              color: #ccc;
              display: inline-block;
              margin: 5px 0;
            }
            a {
              display: inline-block;
            }
            .card_phone {
              a {
                font-size: 18px;
              }
            }
            .card_social {
              a {
                padding-right: 5px;
              }
            }
          }
  }
              .contacts__hide--arrow {
                width: 30px;
                height: 30px;
                border:2px solid #fff;
                cursor:pointer;
                border-radius: 50%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items:center;
                justify-content:center;
                position: absolute;
                right: 10px;
                bottom:10px;
                &:before {
                  display: block;
                  font-family: FontAwesome;
                  content:'\f077';
                  margin-bottom: 2px;
                  transition:.3s all ease-out;
                }
              }
            .contact--hidden {
              transform:translateY(-115px);
              .card-right {
              .contacts__open--arrow {
                &:before {
                  content:'\f078';
                }
              }
          }
        }
}

//Page styles

footer {
  background-color: #333;
  padding: 15px 0;
  .first__footer--row {
    margin-bottom: 15px;
  }
  .footer--logo {
    width: 30%;
  }
  .footnav {
    .footnav--item {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      position: relative;
      .footnav__item--link {
        font-size: 16px;
        color:#fff;
        text-transform: capitalize;
      }
        &:hover {
          outline: 1px solid #fff;
          &:after {
            display: none;
          }
          .submenu {
          display: block;
        }
        }
    }
  }
  .social--list {
    .social--item {
      display: inline-block;
      a {
        width: 30px;
        height: 30px;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        display: block;
        font-size: 18px;
        line-height: 1.2;
        color: #333;
        padding: 5px;
        &:hover {
          color:#477dca;
        }
      }
    }
  }
  .copyright--row {
    .copyright {
      color: #fff;
      font-size: 14px;
      border-top: 1px solid grey;
      padding-top: 5px;
    }
  }
  //Modals
  .add__modal--wrap, .login__modal--wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top:0;
    z-index: 10;
    display: none;
    padding-top: 150px;
    .modal__form--wrap {
      max-width: 350px;
      width: 90%;
      background: #fff;
      padding:25px;
      position: relative;
      margin: 0 auto;
      box-shadow: 0 0 1px 1px #fff;
      -webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
      .modal__bid--title, .login--title {
        text-align: center;
        font-size: 22px;
        margin-bottom: 15px;
      }
      .close__new--bid, .close--login {
        position: absolute;
        right: -15px;
        top:-15px;
        font-size: 20px;
        color:#fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #477dca;
        text-align: center;
        line-height: 1.4;
        &:hover {
          box-shadow:0 0 2px 1px #fff;
        }
      }
      form {
        text-align: center;
        .file--upload {
        	padding:9px;
		    margin: 0 auto;
		    display: inline-block;
		    width: 50%;
		    text-align: center;
		    border: 1px solid;
		    cursor:pointer;
		    margin-bottom: 10px;
		    border-radius: 4px;
        }
        #upload--file {
        	display: none;
        }
        input {
          display: block;
          width: 90%;
          margin: 0 auto;
          margin-bottom: 10px;
          padding: 7px;
          font-size: 15px;
          color:#000;
          border-radius: 4px;
          &:focus {
	          outline: none;
			  color: #525864;
			  border-color: #84c0ee;
			  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
          }
        }
        #cat--items {
          width: 40%;
          padding: 7px;
          cursor: pointer;
          border-radius: 4px;
          margin-bottom: 10px;
        }
        .add__bid--button, .login--enter {
          background: #477dca;
          color:#fff;
          border-radius:4px;
          border:0;
          padding: 12px 25px;
          transition: .3s all ease-out;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          &:hover {
            box-shadow:0 0 1px 1px #333;
          }
        }
        .registration--link {
          padding:10px;
          color:#fff;
          background-color: #264d85;
          &:hover {
            box-shadow:0 0 1px 1px #333;
          }
        }
      }
    }
  }
}


//MEDIA QUERY
@media screen and (max-width: 768px) {
  .slider_wraper {
    .controls--block {
      .search__form--wrap {
        padding-top: 0;
        #search--input {
          width: auto;
        }
        #search--submit {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  .block--content {
    .items__grid--modal {
      .item__open--container {
        padding-top: 5%;
      }
    }
  }
  .news_block {
    .news_title {
      width: 28%;
    }
  }
  footer {
  	.footnav {
  		.footnav--item {
  			padding: 3px;
  		}
  	}
  }
}

@media screen and (max-width: 500px) {
  header {
    position: fixed;
    z-index: 3;
    background: rgba(0,0,0,.9);
    .open--menu {
      display: inline-block;
    }
    .mobile--search {
      display: inline-block;
    }
    .header--logo {
      display: none;
    }
    .header--nav {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.9);
      margin-top: 10px;
      padding: 15px;
      display: none;
      .headnav {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        .headnav--item {
          border-bottom: 1px solid #fff;
          width: 100%;
          &:hover {
          	outline:none;
          	.headnav__item--link {
          		display: block;
    			padding-bottom: 5px;
          	}
          }
          .submenu {
          	border-top: 1px solid #fff;
		    top: 0;
		    padding: 0;
		    position: relative;
		    .submenu--item {
		    	padding: 7px;
		    	&:last-child {
		    		border-bottom: 0;
		    	}
		    }
          }
          a {
            font-size: 18px;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .slider_wraper {
    max-height: 350px;
    .owl-carousel {
      .owl-item {
        height: 300px;
        background-color: #333;
        img {
          display: none;
        }
      }
      .slider__text--wrap {
        width: 90%;
        left: 5%;
        bottom: 25%;
        font-size: 14px;
      }
    }
    .controls--block {
      background-color: #000;
      .second__controll--row {
        display: none;
      }
      .first__controll--row {
        padding-top: 0;
      }
      .third__controll--row {
        float: right;
        width: auto;
      }
    }
  }

  .block--content {
    .table--sort {
      #sort--list {
        width: 60%;
      }
    }
    .items__grid--wrap {
      margin: 0;
      .col-md-4 {
        width: 100%;
        max-width: 345px;
        margin: 0 auto;
      }
    }
    .items__list--wrap {
      .category__list--item {
        width: 100%;
        border-bottom: 0;
      }
    }
    .items__grid--modal {
      .item__open--container {
        .item__open--wrap {
          width: 90%;
          flex-direction: column;
          .left--side {
            padding-right: 0;
          }
          .right--side {
            .show--descr {
              display: block;
              &:before {
                display: block;
                font-family: fontAwesome;
                content:'\f067';
                color:#fff;
                width: 24px;
              }
            }
            .hide--descr {
              &:before {
                content:'\f068';
              }
            }
            .item--description {
              position: absolute;
              top: 20px;
              left:0;
              background-color: #333;
              color:#fff;
              padding: 15px;
              display: none;
            }
          }
        }
      }
    }
  }

  .news_block {
    .news_title {
      width: 100%;
      font-size: 22px;
      &:after {
        display: none;
      }
    }
    .col-md-4 {
      margin-bottom: 25px;
    }
  }

  footer {
    .first__footer--row {
      text-align: center;
      .footnav {
      	display: -webkit-flex;
      	display: -moz-flex;
      	display: -ms-flex;
      	display: -o-flex;
      	display: flex;
      	flex-direction:column;
      	align-items:center;
        .footnav--item {
          padding: 4px 6px;
        }
      }
    }
    .add__modal--wrap, .login__modal--wrap {
    	padding-top: 20%;
      .modal__form--wrap {
        form {
        .file--upload {
        	width: 100%;
        }
          input {
            width: 100%;
          }
          .login__button--wrap {
          	display: -webkit-flex;
          	display: -moz-flex;
          	display: -ms-flex;
          	display: -o-flex;
          	display: flex;
          	flex-direction:column-reverse;
          	align-items: center;
          	.login--enter {
            padding: 8px 10px;
            width: 100%;
            margin-bottom: 15px;
	          }
	          .registration--link {
	            display: block;
	            position: relative;
	            width: 100%;
	            margin: 0 auto;
	            padding: 8px;
	          }
          }
          
          #cat--items {
            width: 100%;
          }
        }
      }
    }
    }
}

@import "fonts/font_roboto";
