// Font Sizes
$base-font-size: 16px;
$base-font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: $base-font-family;


// Line height
$base-line-height: 1.1;
$heading-line-height: 1.2;

// Other Sizes
$width: 980px;

// Colors
$blue: #477dca;
$gray-dark: #333;

// Font Colors
$base-font-color: $gray-dark;
$action-color: $blue;

// Background Colors
$base-background-color: #fff;

